<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View</title>
  <!-- <link rel="stylesheet" href="styles/style.css" type="text/css"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script> -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <header>
    <div class="menu-icon">
      <svg viewbox="0 0 60 60" width="40px" height="40px">
        <line x1="5%" y1="50%" x2="95%" y2="50%" />
        <line x1="5%" y1="50%" x2="95%" y2="50%" />
      </svg>
    </div>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/survey">SURVEY</a></li>
        <li><a href="/adminLogin">ADMIN</a></li>
        <li><a href="/viewsurveys">VIEW SURVEYS</a></li>
        <li><a href="/viewadmins">ACCOUNTS</a></li>
        <li><a href="/adminlogout">LOGOUT</a></li>

      </ul>
    </nav>
  </header>
  <h1>View Survey </h1>
  <main>
    <% for (let index=0; index < surveyData.length; index++){ %>
      <p>Survey ID: <%= surveyData[index].surveyid %>
      </p>
      <p>Timestamp: <%= surveyData[index].timestamp %>
      </p>
      <p>Origin: <%= surveyData[index].origin %>
      </p>
      <p>1. Enter your age: <%= surveyData[index].age %>
      </p>
      <p>2. Select a Gender: <%= surveyData[index].gender %>
      </p>
      <p>3. Select a Relationship Status: <%= surveyData[index].rel_status %>
      </p>
      <p>4. Select an Occupation Status: <%= surveyData[index].occ_status %>
      </p>
      <!-- Organization -->
      <p>5. What type of organizations are you affiliated with?:
      </p>

      <% for (let org=0; org < affiliationData.length; org++){ %>
        <p>
          <%= affiliationData[org].affiliationid %>
        </p>
        <% } %>
          <p>6. Do you use Social Media?: <%= surveyData[index].social_media_useage %>
          </p>
          <!-- platform -->
          <p>7. What social media platforms do you commonly use?:</p>
          <% for (let platform=0; platform < platformData.length; platform++){ %>
            <p>
              <%= platformData[platform].platformid %>
            </p>
            <% } %>

              <p>8. What is the average time you spend on social media every day?: <%= surveyData[index].avg_time_social
                  %>
              </p>
              <p>9. How often do you find yourself using social media without a specific
                purpose?: <%= surveyData[index].use_no_purpose %>
              </p>
              <p>10. How often do you get distracted by social media when you are busy doing
                something?: <%= surveyData[index].distracted_social %>
              </p>
              <p>11. Do you feel restless if you haven’t used social media in a
                while?: <%= surveyData[index].restless_no_media %>
              </p>
              <p>12. How easily distracted are you?: <%= surveyData[index].distracted_general %>
              </p>
              <p>13. How much are you bothered by worries?: <%= surveyData[index].bothered_worries %>
              </p>
              <p>14. Do you find it difficult to concentrate on things?: <%= surveyData[index].difficult_concentrate %>
              </p>
              <p>15. How often do you compare yourself to other successful people through the use
                of social
                media?: <%= surveyData[index].compare_successful %>
              </p>
              <p>16. Following the previous question, how do you feel about these comparisons,
                generally
                speaking?: <%= surveyData[index].feeling_comparison %>
              </p>
              <p>17. How often do you look to seek validation from features of social
                media?: <%= surveyData[index].validation_social %>
              </p>
              <p>18. How often do you feel depressed or down?: <%= surveyData[index].depressed_down %>
              </p>
              <p>19. How frequently does your interested in daily activities fluctuate?: <%=
                  surveyData[index].fluctuate_interests %>
              </p>
              <p>20. How often do you face issues regarding sleep?: <%= surveyData[index].sleep_issues %>
              </p>

              <% }; %>

  </main>

</body>

</html>