<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Data</title>
  <link rel="stylesheet" href="styles/style.css" type="text/css">
</head>

<body>
 
  <header>
    <a href="/">Home</a>
    <a href="/survey">Take the Survey</a>
    <a href="/adminLogin">Admin Login</a>
    <a href="/viewadmins">Admin Info</a>

  </header>

  <main>
    <h1>Welcome <%= pageuser %></h1>
    <br>
    <p>Create User</p>
    <form action="/createadmin" method="POST">
        <label for="adminname">Username</label>
        <input type="text" id="adminname" name="adminname">
        <label for="adminpassword">Password</label>
        <input type="text" id="adminpassword" name="adminpassword">
        <button type="submit">Create</button>
    </form>
    <br>
    <thead>
        <tr>
            <td>Username</td>
            <td>Password</td>
            <td>Edit</td>
            <td>Delete User</td>

        </tr>
        <p id="createuser"></p>
    </thead>
    <br>
    <tbody>
        <% for(let icount = 0; icount< adminData.length; icount++) { %>
            <tr>
            <td><%= adminData[icount].username %></td>
            <td><%= adminData[icount].password %></td>
            <td>
                <form action="/editadmin/<%= adminData[icount].username %>" method="GET">
                  <button type="submit">Edit</button>
                </form>
              </td>
              <td>
                <form action="/deleteadmin/<%= adminData[icount].username %>" method="POST">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <br>
          <% }; %>
    </tbody>

  </main>

  <footer>
    <p>&copy; Section 3-3 | All rights reserved</p>
  </footer>
  <script>










    // JavaScript to handle header collapse on scroll
    const header = document.querySelector('header');
    let isHovered = false;

    header.addEventListener('mouseenter', () => {
      isHovered = true;
    });

    header.addEventListener('mouseleave', () => {
      isHovered = false;
    });

    window.addEventListener('scroll', () => {
      if (!isHovered) {
        const scrollY = window.scrollY;
        const maxPadding = 20; // Adjust as needed

        // Collapse the header on scroll
        header.style.padding = Math.max(maxPadding - scrollY, 5) + 'px';
      }
    });
  </script>
</body>

</html>